.about__title {
  margin-bottom: 40px;

  @media screen and (max-width: 767px){
    margin-bottom: calc(20px + (40 - 20) * (100vw - 320px) / (768 - 320));
    font-size: calc(32px + (64 - 32) * (100vw - 320px) / (768 - 320));
  }
}
