.header__burger-icon_active {
  &::before {
    top: 50%;
    transform: rotate(-45deg) translate(1px, -50%);
    background-color: #FFF;
  }

  &::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    background-color: #FFF;
  }
}
